#list li.__hover:hover {
    background-color: var(--color-btn-hover-bg);
}

.__hover-pointer {
    cursor: pointer;
}

.__hover-bg:hover {
    background-color: var(--color-bg-overlay);
}

.__scroll {
    overflow-y: scroll;
    /* IE, Edge 対応 */
    -ms-overflow-style: none;
    /* Firefox 対応 */
    scrollbar-width: none;
}

.__scroll::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
}

.border-bottom {
    border-bottom: 1px solid #f8f5f0;
}

.__modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.__modal-bg {
    background: var(--color-bg-backdrop);
    height: 100vh;
    position: absolute;
    left: 0;
    width: 100%;
}

.__modal-content {
    z-index: 999;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1012px;
}

table {
    min-width: 768px;
}

.btn {
    position: unset;
}

@media (min-width: 768px) {
    .__px-md-ex {
        padding-left: 144px !important;
        padding-right: 144px !important;
    }
    .__mx-md-ex {
        margin-left: 144px !important;
        margin-right: 144px !important;
    }
}

red {
    color: red;
}

blue {
    color: blue;
}